body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    padding: 0;
    margin: 0

}


#boxtask1{

    margin-top: 50px;
    margin-left: 50px;
    padding: 5px 10px;
    font-size: 20px;
    height: auto;
    width: 85%;
    background: rgba(0,0,0,.9);
    color: rgb(230, 226, 226);
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 4px;


}


#endtask{


    display: flex;
    border-radius: 5px;
    font-size: 20px;
    flex-wrap: wrap;
    padding: 10px 5px 10px 5px;
    height: auto;
    width: 97%;
   /* border: 1.5px solid black;*/
    z-index: -1;
    background-color: transparent;


}




#boxtask{

    margin-left: 40px;
    color:white;
}

#botao{

    font-family: 'Times New Roman', Times, serif;

    height: 50px;
    width: auto;
    font-size: 20px;
    font-weight: 400;
    color:white;
    background-color: transparent;
    border: 0;   
}

#botao:hover{

    background-color: whitesmoke;
    color:black;
    cursor: pointer;
    border-radius: 4px;
}



h1{

    margin-left: 50px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: 400px;
    text-align: left;
    color:whitesmoke;
    
}